# Xcode build
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/

# Xcode private settings
xcuserdata/
*.xcscmblueprint
*.xccheckout

# SPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Archives
*.xcarchive
